<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<div class="conteiner text-center">
    <h1>This page told you about the generator</h1>
    <h4>Author name:</h4> Olksii
    <h4>Technology I used:</h4> Python, Django
    <h4>Why this site is nessere for you?</h4>
    <p>I propose use my site to generate passwords differernt level</p>
    <p>It's absolutly free, and any body can use it</p>

    <a href="{% url 'home' %}">Home</a>
</div>